# Exercise 2: Creating Redshift Cluster using the AWS python SDK 
## An example of Infrastructure-as-code

In [1]:
import pandas as pd
import boto3
import json

# STEP 0: Make sure you have an AWS secret and access key

- Create a new IAM user in your AWS account
- Give it `AdministratorAccess`, From `Attach existing policies directly` Tab
- Take note of the access key and secret 
- Edit the file `dwh.cfg` in the same folder as this notebook and fill
<font color='red'>
<BR>
[AWS]<BR>
KEY= YOUR_AWS_KEY<BR>
SECRET= YOUR_AWS_SECRET<BR>
<font/>

# Load DWH Params from a file

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Passw0rd
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

# Create clients for IAM, EC2, S3 and Redshift

In [3]:
import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

# Check out the sample data sources on S3

In [73]:
sampleDbBucket =  s3.Bucket("awssampledbuswest2")
for obj in sampleDbBucket.objects.filter(Prefix="ssbgz"):
    print(obj)
# for obj in sampleDbBucket.objects.all():
#     print(obj)

s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/customer0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/dwdate.tbl.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0003_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0004_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0005_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0006_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0007_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0003_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier.tbl_0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0003_part_00.gz')

# STEP 1: IAM ROLE
- Create an IAM Role that makes Redshift able to access S3 bucket (ReadOnly)

In [4]:
from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhRole already exists.
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::983828553154:role/dwhRole

# STEP 2:  Redshift Cluster

- Create a RedShift Cluster
- For complete arguments to `create_cluster`, see [docs](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/redshift.html#Redshift.Client.create_cluster)

In [5]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

## 2.1 *Describe* the cluster to see its status
- run this block several times until the cluster status becomes `Available`

In [17]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cflhkfkd7jex.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-36c5b54e
7,NumberOfNodes,4

<h2> 2.2 Take note of the cluster <font color='red'> endpoint and role ARN </font> </h2>

<font color='red'>DO NOT RUN THIS unless the cluster status becomes "Available" </font>

In [19]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.cflhkfkd7jex.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::983828553154:role/dwhRole

## STEP 3: Open an incoming  TCP port to access the cluster ednpoint

In [20]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-b07c7fe2')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

# STEP 4: Make sure you can connect to the cluster

In [21]:
%load_ext sql

In [22]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cflhkfkd7jex.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

### Testing the loaded tables (Note: You can make use of Redshift Query editor to query the tables)

In [24]:
%%sql
SELECT * FROM staging_events LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cflhkfkd7jex.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Skillet', 'Logged In', 'Kevin', 'M', 0, 'Arellano', 178.02404, 'free', 'Harrisburg-Carlisle, PA', 'PUT', 'NextSong', 1540006905796.0, 153, 'Monster (Album Version)', 200, 1541126568796.0, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 66),
 (None, 'Logged In', 'Kynnedi', 'F', 0, 'Sanchez', None, 'free', 'Cedar Rapids, IA', 'GET', 'Home', 1541079034796.0, 88, None, 200, 1541149530796.0, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 89),
 ('Kylie Auldist', 'Logged In', 'Lily', 'F', 8, 'Koch', 265.92608, 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', 1541048010796.0, 172, 'Ship Inside A Bottle', 200, 1541151060796.0, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', 15),
 ('Commit Suicide', 'Logged In', 'Lily', 'F', 16, 'Koch', 105.482, 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', 1541048010796.0, 172, 'In All This Revelation', 200, 1541152940796.0, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', 15),
 ('The Black Keys', 'Logged In', 'Lily', 'F', 24, 'Koch', 294.76526, 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', 1541048010796.0, 172, 'The Lengths', 200, 1541154252796.0, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', 15)]

In [25]:
%%sql
SELECT * FROM staging_songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cflhkfkd7jex.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOKTJDS12AF72A25E5', 1, 'Drown In My Own Tears (24-Bit Digitally Remastered 04)', 'The Smithereens', 40.57885, 0, 192.522, 'ARA23XO1187B9AF18F', -74.21956, 'Carteret, New Jersey'),
 ('SONQBUB12A6D4F8ED0', 1, 'Angie (1993 Digital Remaster)', 'The Rolling Stones', 51.50632, 0, 271.49016, 'ARFCUN31187B9AD578', -0.12714, 'London, England'),
 ('SOHOXLZ12A6D4F8FC0', 1, 'Les Gens Raisonnables', 'Mickey 3D', None, 2003, 207.12444, 'ARY0RQP1187FB48B93', None, ''),
 ('SOXQDSK12A6D4FA909', 1, "La Notte Dell'11 Ottobre", 'Massimo Volume', None, 1995, 270.78485, 'ARIVQ621187FB5A88D', None, ''),
 ('SOGXFIF12A58A78CC4', 1, 'Hanging On (Medium Key Performance Track Without Background Vocals)', 'Britt Nicole', 35.66693, 0, 204.06812, 'AR5LZJD1187FB4C5E5', -80.46935, ' NC')]

In [31]:
%%sql
SELECT * FROM songplays LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cflhkfkd7jex.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(3071, datetime.datetime(2018, 11, 1, 21, 24, 53, 796000), '8', 'free', None, None, '139', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (3079, datetime.datetime(2018, 11, 1, 21, 28, 54, 796000), '8', 'free', None, None, '139', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (2922, datetime.datetime(2018, 11, 1, 21, 42, 0, 796000), '10', 'free', None, None, '9', 'Washington-Arlington-Alexandria, DC-VA-MD-WV', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"'),
 (2796, datetime.datetime(2018, 11, 1, 21, 52, 5, 796000), '26', 'free', None, None, '169', 'San Jose-Sunnyvale-Santa Clara, CA', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (3064, datetime.datetime(2018, 11, 1, 22, 23, 14, 796000), '101', 'free', None, None, '100', 'New Orleans-Metairie, LA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [27]:
%%sql
SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cflhkfkd7jex.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('100', 'Adler', 'Barrera', 'M', 'free'),
 ('101', 'Jayden', 'Fox', 'M', 'free'),
 ('16', 'Rylan', 'George', 'M', 'free'),
 ('16', 'Rylan', 'George', 'M', 'paid'),
 ('23', 'Morris', 'Gilmore', 'M', 'free')]

In [28]:
%%sql
SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cflhkfkd7jex.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOAACFC12A8C140567', 'Supernatural Pt. II', 'ARNHTE41187B99289A', 0, 343),
 ('SOAAEHR12A6D4FB060', 'Slaves & Bulldozers', 'AR5N8VN1187FB37A4E', 1991, 415),
 ('SOAAGXT12A8C13A94D', 'Beautiful Zelda (2007 Digital Remaster)', 'ARTC1LV1187B9A4858', 1968, 145),
 ('SOAAMWQ12A8C144DF1', 'Happy Nation', 'AR2IKF71187FB4D0C2', 1992, 255),
 ('SOAANBW12A6D4F8DE9', 'A Change Is Gonna Come (2001 Digital Remaster)', 'ARGF9VF1187FB37DAE', 1973, 259)]

In [29]:
%%sql
SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cflhkfkd7jex.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', 25.67084, -100.30953),
 ('AR00JIO1187B9A5A15', 'Saigon', 'Brooklyn', 40.65507, -73.94888),
 ('AR00TGQ1187B994F29', 'Paula Toller', '', None, None),
 ('AR00Y9I1187B999412', 'Akercocke', '', None, None),
 ('AR026BB1187B994DC3', 'Ijahman Levi', '', None, None)]

In [30]:
%%sql
SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cflhkfkd7jex.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 8, 16, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 28, 54, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 2, 5, 15, 41, 796000), 5, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 19, 15, 796000), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 10, 2, 20, 796000), 10, 2, 44, 11, 2018, 5)]

### Analytical Queries

#### Top 5 users ranked according to their app usage

In [35]:
%%sql
SELECT u.first_name, u.last_name, count(*) usage_frequency
FROM songplays sp
JOIN users u ON u.user_id = sp.user_id
GROUP BY u.first_name, u.last_name
ORDER BY usage_frequency DESC
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cflhkfkd7jex.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Chloe', 'Cuevas', 2361),
 ('Tegan', 'Levine', 2333),
 ('Kate', 'Harrell', 1817),
 ('Lily', 'Koch', 1511),
 ('Aleena', 'Kirby', 1340)]

#### Top Artist whose songs users listen more frequently

In [37]:
%%sql
SELECT a.name artist_name, count(*) hits
FROM songplays sp
JOIN artists a ON a.artist_id = sp.artist_id
GROUP BY artist_name
ORDER BY hits DESC
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cflhkfkd7jex.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Dwight Yoakam', 222),
 ('Kid Cudi / Kanye West / Common', 60),
 ('Kid Cudi', 60),
 ('Ron Carter', 54),
 ('Lonnie Gordon', 54)]

# STEP 5: Clean up your resources

<b><font color='red'>DO NOT RUN THIS UNLESS YOU ARE SURE <br/> 
    We will be using these resources in the next exercises</span></b>

In [85]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

{'Cluster': {'AllowVersionUpgrade': True,
  'AutomatedSnapshotRetentionPeriod': 1,
  'AvailabilityZone': 'us-west-2b',
  'ClusterCreateTime': datetime.datetime(2019, 2, 16, 6, 21, 30, 630000, tzinfo=tzutc()),
  'ClusterIdentifier': 'dwhcluster',
  'ClusterParameterGroups': [{'ParameterApplyStatus': 'in-sync',
    'ParameterGroupName': 'default.redshift-1.0'}],
  'ClusterSecurityGroups': [],
  'ClusterStatus': 'deleting',
  'ClusterSubnetGroupName': 'default',
  'ClusterVersion': '1.0',
  'DBName': 'dwh',
  'Encrypted': False,
  'Endpoint': {'Address': 'dwhcluster.csmamz5zxmle.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'EnhancedVpcRouting': False,
  'IamRoles': [{'ApplyStatus': 'in-sync',
    'IamRoleArn': 'arn:aws:iam::988332130976:role/dwhRole'}],
  'MasterUsername': 'dwhuser',
  'NodeType': 'dc2.large',
  'NumberOfNodes': 4,
  'PendingModifiedValues': {},
  'PreferredMaintenanceWindow': 'fri:10:30-fri:11:00',
  'PubliclyAccessible': True,
  'Tags': [],
  'VpcId': 'vpc-54d40a2c',
  'VpcSecurityGroups': []},
 'ResponseMetadata': {'HTTPHeaders': {'content-length': '2041',
   'content-type': 'text/xml',
   'date': 'Sat, 16 Feb 2019 07:13:32 GMT',
   'x-amzn-requestid': '5e58b2d8-31ba-11e9-b19b-0945d449b0a9'},
  'HTTPStatusCode': 200,
  'RequestId': '5e58b2d8-31ba-11e9-b19b-0945d449b0a9',
  'RetryAttempts': 0}}

- run this block several times until the cluster really deleted

In [3]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

NameError: name 'redshift' is not defined

In [4]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!

NameError: name 'iam' is not defined